name: Publish and unpublish package
on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/actions-sauron
          
      - name: publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGE_PAT }}

      - name: unpublish
        run: npm unpublish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGE_PAT }}
